*{
    padding: 0;
    margin: 0;
    border: 0;

}

@font-face{
    font-family: montserrat;
    src: url('/src/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

:root{
    --light-text-color: #FFFFFF;
    --primary-color: #23A6F0;
    --secondary-color-1: #40BB15;
    --secondary-color-2: #3C403D;
    --second-text-color:  #737373;
    --muted-color: #BDBDBD;
}