@import url(global.css);

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252B42;
    height: 92px;
    padding: 0px 263px 0px 263px;
}
nav ul{
    display: flex;
    gap: 24px;
    text-decoration: none;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: var(--light-text-color);
}

.btn-header{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-header a{
   text-decoration: none;
   color: var(--light-text-color);
}

.btn-header button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 220px;
    height: 52px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

/* começo main */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252B42;
    padding: 0px 156px 0px 156px;
    gap: 122px;
}

main img{
    width: 471px;
    height: 587px;

}

.Financial{
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-family: montserrat;
}

.Financial h1{
    width: 509px;
    font-size: 58px; 
    color: var(--light-text-color);
}

.Financial p{
    width: 376px;
    font-size: 20px;
    color: var(--light-text-color);
}

.btn-main{
    display: flex;
    gap: 10px;
}
.btn-primary{
    width: 187px;
    height: 52px;
    border-radius: 37px;
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

.btn-second{
    width: 157px;
    height: 52px;
    border-radius: 37px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--light-text-color);
    color: var(--light-text-color);
}

/* fim main */

/* Strategy */
.Strategy-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252B42;
}

.Strategy-info{
    display: flex;
    flex-direction: column;
    font-family: montserrat;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Strategy-info h2{
    width: 451px;
    font-size: 40px;
    color: var(--light-text-color);
}

.Strategy-info p{
    width: 470px;
    font-size: 14px;
    color: var(--second-text-color);
}

.Strategy-content{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
 width: 328px;
 height: 129px;
 border: 1px solid white;
 border-radius: 2px;
}

.Strategy-content h2{
    color: var(--light-text-color);
}

.Strategy-content p{
    color: var(--light-text-color);
}


.info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.info h2{
    width: 223px;
    font-size: 16px;
    font-family: montserrat;
}

.info p{
    width: 240px;
    font-size: 14px;
    font-family: montserrat;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 69px;

}
/* strategy fim */

